body{
    background-image:url(tlo1.png) ;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;  
    justify-content: center;
    align-items: center;

}
            
h1 {
    font-family: Impact;
    color: red;
    text-align: center;
    font-size: 30px;
}

.dni{
    background-color: #d16b6b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 8px; 
    font-weight: bold;
    font-size: 24px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
.kalendarz{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    width: 80%; 
    margin: auto;

}
.dni:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    background-color: rgba(76, 175, 80, 1); 
}
.emotka {
    position: absolute;
    font-size: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.dni:hover .emotka {
    opacity: 1;
    transform: translateY(0);
}